chardet
rdflib==7.0.0
wtforms
pandas
starlette
starlette-wtf
jinja2
fastapi
uvicorn
pydantic>=2.0.0
pydantic_settings
requests
PyMuPDF==1.23.5
tabulate
pyspellchecker
#==0.7.2
ocrmypdf==15.4.0
nltk
thefuzz
scikit-learn==1.3.2
texify==0.1.8
python-magic
torch==2.1.2