marker-pdf==1.7.5
chardet==5.2.0
rdflib==7.1.4
wtforms==3.2.1
pandas==2.3.0
starlette==0.46.2
starlette-wtf==0.4.5
jinja2==3.1.6
fastapi==0.115.13
uvicorn==0.34.3
gunicorn==23.0.0
pydantic==2.11.7
pydantic_settings==2.10.0
requests==2.32.4
opencv-python-headless==4.11.0.86
transformers==4.52.4
